* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.site-header {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #ff416c, #ff4b2b);
}

nav {
    width: 100%;
    height: 100px;
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.logo {
    width: 50%;
    height: 100px;
}

.logo h1 {
    line-height: 100px;
    padding-left: 50px;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

.menu {
    width: 50%;
    height: 100px;
}

.menu ul {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.menu ul li {
    list-style: none;
    font-size: 15px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    ;

}

.menu a {
    text-decoration: none;
    color: white;
}

section {
    display: flex;
}

.left-side {
    width: 45%;
    height: auto;
    overflow: hidden;
    margin-top: 20px;

}

.left-side img {
    width: 700px;
    height: 700px;
}

.right-side {
    width: 55%;
    height: 300px;
    color: white;
    text-align: center;
    margin-top: 100px;
    padding: 40px;

}

.right-side p {
    font-size: 1.8rem;
    padding: 30px 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.right-side button {
    font-size: 17px;
    font-weight: bold;
    color: white;
    background-color: #f1943d;
    text-transform: uppercase;
    padding: 20px 35px;
    border-radius: 8px;
    border-style: none;
    box-shadow: 1px 2px rgb(255, 200, 127);
}

html {
    scroll-behavior: smooth;
}

/*-------------------------------------HYPERLINK-------------------------------------------*/
#middle {
    margin-top: 2%;
    padding-bottom: 5%;
}

#middle-down {
    margin-top: 2%;
    padding-bottom: 5%;
}

#middle-last {
    margin-top: 2 %;
    padding-bottom: 5%;
}

/*-----------------------------------CARDS-------------------------------------------------*/
.container {
    width: 90%;
    margin: 50px, auto;
}

.heading {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    padding-left: 10%;
}

.card {
    width: 20%;
    background: #fff;
    border: 1px solid #ccc;
    margin-bottom: 50px;
    transition: 0.3s;
}

.card-header {
    text-align: center;
    background: linear-gradient(to right, #ff416c, #ff4b2b);
    color: #fff;
    padding: 50px 10px;

}

.card-body {
    padding: 30px 20px;
    text-align: center;
    font-size: 18px;
}

.card-body .btn {
    display: block;
    color: #fff;
    text-align: center;
    background: linear-gradient(to right, #ff416c, #ff4b2b);
    margin-top: 30px;
    text-decoration: none;
    padding: 10px 5px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

.card h1 {
    color: linear-gradient(to right, #ff416c, #ff4b2b);
}

@media screen and (max-width:1000px) {
    .card {
        width: 40%;

    }
}

@media screen and (max-width:620px) {
    .container {
        width: 100%;
    }

    .heading {
        padding: 20px;
        font-size: 20px;
    }

    .card {
        width: 80%;

    }
}

/*------------------------------FORM--------------------------------*/
.wrapper {
    max-width: 500px;
    width: 100%;
    background: #fff;
    margin: 50px auto;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.125);
    padding: 30px;
}

.wrapper .title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #ff416c;
    text-transform: uppercase;
    text-align: center;
}

.wrapper .form {
    width: 100%;
}

.body1 {
    background: linear-gradient(to right, #ff416c, #ff4b2b);
    padding: 10px;
}

.wrapper .form .inputfield {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.wrapper .form .inputfield label {
    width: 200px;
    color: #757575;
    margin-right: 10px;
    font-size: 14px;
}

.wrapper .form .inputfield .input,
.wrapper .form .inputfield .textarea {
    width: 100%;
    outline: none;
    border: 1px solid #d5dbd9;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.wrapper .form .inputfield .textarea {
    width: 100%;
    height: 125px;
    resize: none;
}

.wrapper .form .inputfield .custom_select {
    position: relative;
    width: 100%;
    height: 37px;
}

.wrapper .form .inputfield .custom_select:before {
    content: "";
    position: absolute;
    top: 12px;
    right: 10px;
    border: 8px solid;
    border-color: #d5dbd9 transparent transparent transparent;
    pointer-events: none;
}

.wrapper .form .inputfield .custom_select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    width: 100%;
    height: 100%;
    border: 0px;
    padding: 8px 10px;
    font-size: 15px;
    border: 1px solid #d5dbd9;
    border-radius: 3px;
}

.wrapper .form .inputfield .input:focus,
.wrapper .form .inputfield .textarea:focus,
.wrapper .form .inputfield .custom_select select:focus {
    border: 1px solid #ff416c;
}

.wrapper .form .inputfield p {
    font-size: 14px;
    color: #757575;
}

.wrapper .form .inputfield .check {
    width: 15px;
    height: 15px;
    position: relative;
    display: block;
    cursor: pointer;
}

.wrapper .form .inputfield .check input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.wrapper .form .inputfield .check .checkmark {
    width: 15px;
    height: 15px;
    border: 1px solid #ff416c;
    display: block;
    position: relative;
}

.wrapper .form .inputfield .check .checkmark:before {
    content: "";
    position: absolute;
    top: 1px;
    left: 2px;
    width: 5px;
    height: 2px;
    border: 2px solid;
    border-color: transparent transparent #fff #fff;
    transform: rotate(-45deg);
    display: none;
}

.wrapper .form .inputfield .check input[type="checkbox"]:checked~.checkmark {
    background: #ff416c;
}

.wrapper .form .inputfield .check input[type="checkbox"]:checked~.checkmark:before {
    display: block;
}

.wrapper .form .inputfield .btn {
    width: 100%;
    padding: 8px 10px;
    font-size: 15px;
    border: 0px;
    background: #ff416c;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
}

.wrapper .form .inputfield .btn:hover {
    background: #ff416c;
}

.wrapper .form .inputfield:last-child {
    margin-bottom: 0;
}

@media (max-width:420px) {
    .wrapper .form .inputfield {
        flex-direction: column;
        align-items: flex-start;
    }

    .wrapper .form .inputfield label {
        margin-bottom: 5px;
    }

    .wrapper .form .inputfield.terms {
        flex-direction: row;
    }
}
